In [1]:
from helpers import *
from tqdm import notebook

In [2]:
def runsims(alpha = 0.95, num_sim=30, temp = 10, stopK = 0.000001, element="swap"):
    sim = AnnealTVS(df, K = temp, stopK = stopK, alpha = alpha, elementary=element, num_sim = num_sim)
    res = sim.run_sim()
    return res

def plot_solution(solution, df):
    df.plot.scatter("x", "y")
    for i in range(len(solution)-1):
        fro = df.loc[solution[i]]
        to = df.loc[solution[i+1]]
        plt.arrow(fro["x"], fro["y"], to["x"]-fro["x"], to["y"]-fro["y"])
    fro = df.loc[solution[len(solution)-1]]
    to = df.loc[solution[0]]
    plt.arrow(fro["x"], fro["y"], to["x"]-fro["x"], to["y"]-fro["y"])

In [10]:
def get_distance(x1, y1, x2, y2) :
    return np.sqrt((x1-x2)**2 + abs(y1-y2)**2)

def total_distance(solution, df):
    distance = 0
    for i in range(len(solution)-1):
        fro = df.loc[solution[i]]
        to = df.loc[solution[i+1]]
        distance += get_distance(fro["x"], fro["y"], to["x"], to["y"])
     # make it a circle
    fro = df.loc[solution[len(solution)-1]]
    to = df.loc[solution[0]]
    distance += get_distance(fro["x"], fro["y"], to["x"], to["y"])
    return distance

In [ ]:
matrix

In [3]:
df = pd.read_csv("data/eil51.tsp.txt", skiprows=6, names=["id", "x", "y"], header=None, delimiter = ' ', index_col=0).drop("EOF")

In [ ]:
df.loc["1"]

In [6]:
sim = AnnealTVS(df, K = 10, num_sim=1,num_searches = 200,stopK = .1, alpha = 0.97, beta = 0.2, gamma = 0.5,
                elementary="2opt", verbose=True, alternate=True, secondary="insert")

In [7]:
sim.total_distance()

2.23606797749979

In [20]:
matrix = np.zeros((len(df),len(df)))
for row in range(len(df)):
    print(row)
    fro = df.loc[f"{row+1}"]
    print(fro)
for column in range(len(df)):
    if row != column:
        to = df.loc[f"{column+1}"]
        print(to)
        matrix[row][column] = get_distance(fro["x"], fro["y"], to["x"], to["y"])

0
x    37.0
y    52.0
Name: 1, dtype: float64
1
x    49.0
y    49.0
Name: 2, dtype: float64
2
x    52.0
y    64.0
Name: 3, dtype: float64
3
x    20.0
y    26.0
Name: 4, dtype: float64
4
x    40.0
y    30.0
Name: 5, dtype: float64
5
x    21.0
y    47.0
Name: 6, dtype: float64
6
x    17.0
y    63.0
Name: 7, dtype: float64
7
x    31.0
y    62.0
Name: 8, dtype: float64
8
x    52.0
y    33.0
Name: 9, dtype: float64
9
x    51.0
y    21.0
Name: 10, dtype: float64
10
x    42.0
y    41.0
Name: 11, dtype: float64
11
x    31.0
y    32.0
Name: 12, dtype: float64
12
x     5.0
y    25.0
Name: 13, dtype: float64
13
x    12.0
y    42.0
Name: 14, dtype: float64
14
x    36.0
y    16.0
Name: 15, dtype: float64
15
x    52.0
y    41.0
Name: 16, dtype: float64
16
x    27.0
y    23.0
Name: 17, dtype: float64
17
x    17.0
y    33.0
Name: 18, dtype: float64
18
x    13.0
y    13.0
Name: 19, dtype: float64
19
x    57.0
y    58.0
Name: 20, dtype: float64
20
x    62.0
y    42.0
Name: 21, dtype: float64
21
x    42.0
y    57.0
Name: 22, dtype: float64
22
x    16.0
y    57.0
Name: 23, dtype: float64
23
x     8.0
y    52.0
Name: 24, dtype: float64
24
x     7.0
y    38.0
Name: 25, dtype: float64
25
x    27.0
y    68.0
Name: 26, dtype: float64
26
x    30.0
y    48.0
Name: 27, dtype: float64
27
x    43.0
y    67.0
Name: 28, dtype: float64
28
x    58.0
y    48.0
Name: 29, dtype: float64
29
x    58.0
y    27.0
Name: 30, dtype: float64
30
x    37.0
y    69.0
Name: 31, dtype: float64
31
x    38.0
y    46.0
Name: 32, dtype: float64
32
x    46.0
y    10.0
Name: 33, dtype: float64
33
x    61.0
y    33.0
Name: 34, dtype: float64
34
x    62.0
y    63.0
Name: 35, dtype: float64
35
x    63.0
y    69.0
Name: 36, dtype: float64
36
x    32.0
y    22.0
Name: 37, dtype: float64
37
x    45.0
y    35.0
Name: 38, dtype: float64
38
x    59.0
y    15.0
Name: 39, dtype: float64
39
x    5.0
y    6.0
Name: 40, dtype: float64
40
x    10.0
y    17.0
Name: 41, dtype: float64
41
x    21.0
y    10.0
Name: 42, dtype: float64
42
x     5.0
y    64.0
Name: 43, dtype: float64
43
x    30.0
y    15.0
Name: 44, dtype: float64
44
x    39.0
y    10.0
Name: 45, dtype: float64
45
x    32.0
y    39.0
Name: 46, dtype: float64
46
x    25.0
y    32.0
Name: 47, dtype: float64
47
x    25.0
y    55.0
Name: 48, dtype: float64
48
x    48.0
y    28.0
Name: 49, dtype: float64
49
x    56.0
y    37.0
Name: 50, dtype: float64
50
x    30.0
y    40.0
Name: 51, dtype: float64
x    37.0
y    52.0
Name: 1, dtype: float64
x    49.0
y    49.0
Name: 2, dtype: float64
x    52.0
y    64.0
Name: 3, dtype: float64
x    20.0
y    26.0
Name: 4, dtype: float64
x    40.0
y    30.0
Name: 5, dtype: float64
x    21.0
y    47.0
Name: 6, dtype: float64
x    17.0
y    63.0
Name: 7, dtype: float64
x    31.0
y    62.0
Name: 8, dtype: float64
x    52.0
y    33.0
Name: 9, dtype: float64
x    51.0
y    21.0
Name: 10, dtype: float64
x    42.0
y    41.0
Name: 11, dtype: float64
x    31.0
y    32.0
Name: 12, dtype: float64
x     5.0
y    25.0
Name: 13, dtype: float64
x    12.0
y    42.0
Name: 14, dtype: float64
x    36.0
y    16.0
Name: 15, dtype: float64
x    52.0
y    41.0
Name: 16, dtype: float64
x    27.0
y    23.0
Name: 17, dtype: float64
x    17.0
y    33.0
Name: 18, dtype: float64
x    13.0
y    13.0
Name: 19, dtype: float64
x    57.0
y    58.0
Name: 20, dtype: float64
x    62.0
y    42.0
Name: 21, dtype: float64
x    42.0
y    57.0
Name: 22, dtype: float64
x    16.0
y    57.0
Name: 23, dtype: float64
x     8.0
y    52.0
Name: 24, dtype: float64
x     7.0
y    38.0
Name: 25, dtype: float64
x    27.0
y    68.0
Name: 26, dtype: float64
x    30.0
y    48.0
Name: 27, dtype: float64
x    43.0
y    67.0
Name: 28, dtype: float64
x    58.0
y    48.0
Name: 29, dtype: float64
x    58.0
y    27.0
Name: 30, dtype: float64
x    37.0
y    69.0
Name: 31, dtype: float64
x    38.0
y    46.0
Name: 32, dtype: float64
x    46.0
y    10.0
Name: 33, dtype: float64
x    61.0
y    33.0
Name: 34, dtype: float64
x    62.0
y    63.0
Name: 35, dtype: float64
x    63.0
y    69.0
Name: 36, dtype: float64
x    32.0
y    22.0
Name: 37, dtype: float64
x    45.0
y    35.0
Name: 38, dtype: float64
x    59.0
y    15.0
Name: 39, dtype: float64
x    5.0
y    6.0
Name: 40, dtype: float64
x    10.0
y    17.0
Name: 41, dtype: float64
x    21.0
y    10.0
Name: 42, dtype: float64
x     5.0
y    64.0
Name: 43, dtype: float64
x    30.0
y    15.0
Name: 44, dtype: float64
x    39.0
y    10.0
Name: 45, dtype: float64
x    32.0
y    39.0
Name: 46, dtype: float64
x    25.0
y    32.0
Name: 47, dtype: float64
x    25.0
y    55.0
Name: 48, dtype: float64
x    48.0
y    28.0
Name: 49, dtype: float64
x    56.0
y    37.0
Name: 50, dtype: float64

In [19]:
matrix

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [13.89244399, 21.02379604, 32.55764119, ..., 21.63330765,
        26.17250466,  0.        ]])

In [8]:
sim.dist_matrix

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [13.89244399, 21.02379604, 32.55764119, ..., 21.63330765,
        26.17250466,  0.        ]])

In [ ]:
sim.plot_solution()

In [ ]:
res = sim.run_sim()

In [ ]:
sim.plot_solution()

In [ ]:
sim.total_distance()

In [ ]:
num_sims = 8
results_sims= Parallel(n_jobs=8)(delayed(runsims)(num_sim = 10, temp=i, stopK=.1, element="2opt")
                                      for i in range(num_sims))

In [ ]:
total_distance(results_sims[0][0], df)

In [ ]:
for i in range(len(results_sims)):
    for j in range(len(results_sims[i])):
        print(total_distance(results_sims[i][j], df))

In [ ]:
num_sims = 8
results_sims= Parallel(n_jobs=8)(delayed(runsims)(num_sim = 10, temp=i*10, stopK=.1, alpha = 0.9, element="insert")
                                      for i in range(num_sims))

In [ ]:
for i in range(len(results_sims)):
    for j in range(len(results_sims[i])):
        print(total_distance(results_sims[i][j], df))

In [ ]:
num_sims = 8
results_sims= Parallel(n_jobs=8)(delayed(runsims)(num_sim = 10, temp=i*10, stopK=.1, alpha = 0.9, element="swap")
                                      for i in range(num_sims))

In [ ]:
for i in range(len(results_sims)):
    for j in range(len(results_sims[i])):
        print(total_distance(results_sims[i][j], df))